body {
  background-color: #f7b737; /*NYC Yellow (the checker cab color--you'll recognize it when you see it)*/
}
/*<!-- nav and major page elements follow: -->*/

/*the checkerboard patterns below were designed by Lea Verou, and are
taken from her tutorial at:
http://lea.verou.me/2011/02/checkerboard-pattern-with-css3/
and specifically her jsFiddle notation at:
http://jsfiddle.net/leaverou/SUgfD/?utm_source=website&utm_medium=embed&utm_campaign=SUgfD
They work by placing a linear gradient at an angle, creating squares, cool, huh?!.*/
header {
  background-image:
  -moz-linear-gradient(45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(45deg, transparent 75%, #000 75%),
  -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */

  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
  height: 100px;
  width: 100%;
  border: 15px solid black;
  margin: 10px;
}

footer {
  background-image:
  -moz-linear-gradient(45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(45deg, transparent 75%, #000 75%),
  -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */
  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
  height: 100px;
  width: 100%;
  border: 15px solid black;
  margin: 10px;
}

#flex-Container {
  border: 15px solid black;
  /*  background-image:;*/
  margin: 10px;
  width: 100%;
  height: 1000px;
  display: flex;
}

/*/*#gridPadding {   /* this is becomming a charliefoxtrot and worse, a timesink. to return to later*/
  /*  background-color: white;*/
  /*  padding: 10px;*/
/*  width: 50%;
  height: 65%;
  margin: 0 auto;
  position: relative;
  padding: 10px;*/
/*}*//***//*/
/*style elements (p, h, etc.)*/

h1 {
  color: #68C1C5;
  font-weight: bolder; /*<--fairly self-explanatory*/
  font-family: 'Sarpanch', sans-serif; /*<--a nice sans-serif google open font designed by Indian Type Foundry (ITF)*/
  text-align: center; /*<--self-explanatory*/
  line-height: 10px; /*<--to position it properly within the header div*/
  font-size: 75px; /*<--big, might need to be even bigger or wider?*/
  /*  background-color: #00ff00; /*<--this is console green--it looks hideous but I'm keeping it so I can use it later for something else*/*/
  -webkit-text-fill-color: #4A0000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #3DA2A7; /*the above three lines are an awesome way of outlining text, which is particularly necessary here against the yellow and black background!*/
}

p {

}

#instructionBox-flex {
  height: 150px;
  width: 100%;
  margin: 10px;
  border: 15px solid black;
  display:flex;
  flex:1;
  flex-direction:column;
  /*  justify-content: space-around;*/
}


/*racing elements follow:*/
/*lanes follow*/



/*headlights:*/

/*PROTOTYPE HEADLIGHT:*/
/*#leftHeadlight {
  width: 150px;
  height: 150px;
  background: green;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;

}
*/

/*COURSE ONE LIGHTS:*/
#courseOneGreenLight {
  width: 150px;
  height: 150px;
  background: green;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}

#courseOneYellowLight {
  width: 150px;
  height: 150px;
  background: yellow;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}

#courseOneRedLight {
  width: 150px;
  height: 150px;
  background: red;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}

/*COURSE TWO LIGHTS:*/
#courseTwoGreenLight {
  width: 150px;
  height: 150px;
  background: green;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}

#courseTwoYellowLight {
  width: 150px;
  height: 150px;
  background: yellow;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}

#courseTwoRedLight {
  width: 150px;
  height: 150px;
  background: red;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 1px solid black;
  flex:1;
  margin-left: 10px;
  border-radius: 75px;
  overflow: auto;
  display: none;

}
/*here endeth the lights!*/

/*COURSE BOXES*/
/*#courseOneCircuit {
height: 380px;
width: 100%;
display: flex;
flex-direction: : column;
flex:1;
margin: 10px;
border: 15px solid black;

}

#courseTwoCircuit {
height: 380px;
width: 100%;
display: flex;
flex-direction : column;
flex:1;
margin: 10px;
border: 15px solid black;


}*/



/*light classes follow!*/
.greenLight {

}

.yellowLight {

}

.redLight {

}






