body {
  background-color: #f7b737; /*NYC Yellow (the checker cab color--you'll recognize it when you see it)*/
}
/*<!-- nav and major page elements follow: -->*/

/*the checkerboard patterns below were designed by Lea Verou, and are
taken from her tutorial at:
http://lea.verou.me/2011/02/checkerboard-pattern-with-css3/
and specifically her jsFiddle notation at:
http://jsfiddle.net/leaverou/SUgfD/?utm_source=website&utm_medium=embed&utm_campaign=SUgfD
They work by placing a linear gradient at an angle, creating squares, cool, huh?!.*/

header {
  background-image:
  -moz-linear-gradient(45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(45deg, transparent 75%, #000 75%),
  -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */

  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
  height: 100px;
  width: 100%;
  border: 15px solid black;
  margin: 10px;
}

footer {
  background-image:
  -moz-linear-gradient(45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
  -moz-linear-gradient(45deg, transparent 75%, #000 75%),
  -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
  -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
  -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */
  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
  height: 100px;
  width: 100%;
  border: 15px solid black;
  margin: 10px;
}

h1 {
  color: #68C1C5;
  font-weight: bolder; /*<--fairly self-explanatory*/
  font-family: 'Sarpanch', sans-serif; /*<--a nice sans-serif google open font designed by Indian Type Foundry (ITF)*/
  text-align: center; /*<--self-explanatory*/
  line-height: 10px; /*<--to position it properly within the header div*/
  font-size: 75px; /*<--big, might need to be even bigger or wider?*/
  /*  background-color: #00ff00; /*<--this is console green--it looks hideous but I'm keeping it so I can use it later for something else*/*/
 }

 #gridlockTitle {
   -webkit-text-fill-color: #4A0000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #3DA2A7; /*the above three lines are an awesome way of outlining text, which is particularly necessary here against the yellow and black background!*/
}


h2 {
  color: #ECFF00;
  font-weight: bolder;
/*  font-family: 'Mako', sans-serif;*/
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  font-height: 50px;

}


h3 {
  color: #F8DB26;
  font-weight: normal;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  line-height: 90px

}

#tToStart {
  font-size: 55px;


}

#turtle {
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  font-height: 50px;
  font-color: ;

}


#flex-Container {
  border: 15px solid black;
  /*  background-image:;*/
  margin: 10px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  flex-direction: column;
  background-color: #4A4F4E;
}

#instructionBox-flex {
  height: 270px;
  width: 100%;
  margin: 10px;
  border: 15px solid #F9BA26; /*not quite New York Yellow, slightly brighter and less dirty*/
  display: flex;
  flex:1;
  flex-direction: row;
  background-color: #2B44A9; /*nearly complimentary color to the border color*/
  color: #F8DB26;  /*complimentary color to the bluish background color of above*/
/*  flex-shrink: 1;
  flex-grow: 1;*/

  /*  justify-content: space-around;*/
}

/*Instruction Section*/
#columnOne {
  color: #F8DB26;
  font-weight: normal;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  flex: 1;
  flex-grow: 1;
  height: auto;

}

#centerTest {
  height: auto;
  text-align: center;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  font-height: 50px;

}

#columnTwo {
  color: #F8DB26;
  font-weight: normal;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
  flex: 1;
  flex-grow: 1;
  height: auto;
}
/*end instruciton section*/


/*racing elements follow:*/
/*COURSE BOXES*/
#courseOneCircuit {
height: 320px;
width: 100%;
display: inline-flex;
margin: 10px;
border: 15px solid #77746F; /*complimentary color to asphalt*/
background-color: #282B2A;  /*asphalt*/
flex-direction: row;
justify-content: flex-start;
flex:1;
align-items: center;
position: relative;
}

#courseTwoCircuit {
height: 320px;
width: 100%;
display: inline-flex;
margin: 10px;
border: 15px solid #77746F; /*complimentary color to asphalt*/
background-color: #282B2A;  /*asphalt*/
flex-direction: row;
justify-content: flex-start;
flex:1;
align-items: center;
position: relative;
}

#trafficLightOne {
display: block;
/*justify-content: space-around;*/
/*flex-direction: column;*/
border: 10px solid #43464B; /*->a dark steel grey*/
background-color: #696B6F; /*->a lighter steel grey*/
height: auto;
width: 135px;
margin: 5px;
clear:left;
/*box-shadow:
    0 0 0 8px hsl(0, 0%, 40%),
    0 0 0 11px hsl(0, 0%, 50%);*/ /*->failed experiment. need to draw attention to the light not the traffic box*/
}

#trafficLightTwo {
display: block;
/*justify-content: space-around;*/
/*flex-direction: column;*/
border: 10px solid #43464B; /*->a dark steel grey*/
background-color: #696B6F; /*->a lighter steel grey*/
height: auto;
width: 135px;
margin: 5px;
clear:left;

}



/*headlights:*/

/*PROTOTYPE HEADLIGHT:*/
/*#courseOneLight {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid black;
  border-radius: 50%;
  overflow: auto;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;

}
*/

/*COURSE ONE LIGHT:*/
#courseOneLight {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px dashed #43464B;
  border-radius: 50%;
  overflow: auto;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow:
    0 0 0 3px hsl(0, 0%, 50%),
    0 0 0 4px hsl(0, 0%, 70%);
}

/*COURSE TWO LIGHT:*/
#courseTwoLight {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px dashed #43464B;
  border-radius: 50%;
  overflow: auto;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow:
    0 0 0 3px hsl(0, 0%, 50%),
    0 0 0 4px hsl(0, 0%, 70%);
}
/*here endeth the lights!*/


/*light classes follow!*/
.greenLight {
  background-color: #27e833;

}

.yellowLight {
  background-color: #fad201;
}

.redLight {
  background-color: #f9152f;
}

/*Here endeth the light classes*/

#carOne {
  background-color: #F8DB26; /*<-a nice urgent shade of red, complimentary to the NYC boro taxi color*/
  height: 95px;
  width: 136px;
  position: absolute;
  left: 190px; /*<-STARTS AT POSITION 190px!!!*/
  border: 3px solid black;
  box-shadow:
    0 0 0 3px hsl(0, 0%, 50%),
    0 0 0 4px hsl(0, 0%, 70%);


}

#carTwo {
  background-color: #A7C260; /*NYC Boro Taxi color*/
  height: 95px;
  width: 136px;
  position: absolute;
  left: 190px; /*<-STARTS AT POSITION 190px!!!*/
  border: 3px solid black;
  box-shadow:
    0 0 0 3px hsl(0, 0%, 50%),
    0 0 0 4px hsl(0, 0%, 70%);
}





